<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinemuscat.mapper.ReplyMapper">

	<insert id="insert">
		insert into tbl_reply(rno, bno, reply, user_id)
		values(seq_reply.nextval, #{bno}, #{reply}, #{user_id})
	</insert>
	
	<select id="read" resultType="ReplyVO">
	    SELECT r.rno AS rno, r.bno AS bno, r.reply AS reply, r.user_id AS user_id, u.nickname AS nickname, r.replydate AS replyDate, r.updatedate AS updateDate
	    FROM tbl_reply r
	    JOIN users u ON r.user_id = u.user_id
	    WHERE r.rno = #{rno}
	</select>
	
	<delete id="delete">
		delete from tbl_reply
		where rno = #{rno}
	</delete>
	
	<update id="update">
		update tbl_reply set reply = #{reply}, 
		updatedate = sysdate
		where rno = #{rno}
	</update>
	
	<select id="getListWithPaging" resultType="ReplyVO">
	<![CDATA[
SELECT 
    r.rno AS rno, 
    r.bno AS bno, 
    r.reply AS reply, 
    r.nickname AS nickname, 
    r.replydate AS replyDate, 
    r.updatedate AS updateDate
FROM (
    SELECT 
        rownum rn, 
        rno, 
        bno, 
        reply, 
        nickname, 
        replydate, 
        updatedate
    FROM (
        SELECT 
            r.rno, 
            r.bno, 
            r.reply, 
            u.nickname, 
            r.replydate, 
            r.updatedate
        FROM tbl_reply r
        JOIN users u ON r.user_id = u.user_id
        WHERE r.bno = #{bno}
        ORDER BY r.updatedate DESC
    ) sorted
    WHERE rownum <= #{cri.pageNum} * #{cri.amount}
) r
WHERE r.rn > (#{cri.pageNum} - 1) * #{cri.amount}
ORDER BY r.updatedate DESC

	]]>
	</select>
	
	<select id="getCountByBno" resultType="int">
	<![CDATA[
	select count(rno) from tbl_reply where bno = #{bno}
	]]>
	</select>
	
	<delete id="deleteByBno">
    DELETE FROM tbl_reply WHERE bno = #{bno}
	</delete>
</mapper>